{
  "env": {                           // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    "browser": true,                 // browser global variables
    "node": true,
    "es6" : true,
    "mocha": true
  },
  "plugins": [
    "babel",
    "json"
  ],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
    "import/extensions": 0,
    "import/prefer-default-export": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "no-underscore-dangle": 1,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "object-curly-spacing": ["error", "never"]
  }
}
